@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vitosha blvd 666<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    02 255 255
</address>

<address>
    <strong>E-mail us at:</strong>   <a href="mailto:Support@example.com">bookman@example.com</a><br />
</address>