@model IEnumerable<Bookman.ViewModels.Categories.CategoryThumbnailViewModel>

@{
    ViewBag.Title = "All Categories";
}

<h2>Genres</h2>

@foreach (var category in Model)
{
    <h4>@category.Name</h4> @*make this a link the concrete category later*@
    <div class="row">
        @foreach (var cover in category.BookCovers)
        {
            <div class="col-sm-3">
                @*make these links later*@
                <img src="@Url.Content(cover)" alt="Book Cover" style="width:200px; height:300px"/>
            </div>
        }

    </div>

    <hr style="height:5px"/>
}