@model IEnumerable<Bookman.ViewModels.Categories.CategoryThumbnailViewModel>

@{
    ViewBag.Title = "All Categories";
}

<h2>Genres</h2>

@foreach (var category in Model)
{
    <h4>@Html.ActionLink(category.Name, "Show", "Categories", new { categoryName = category.Name }, new { style="color:#444444;" })</h4>
    <div class="row">
        @foreach (var ct in category.BookCovers.Zip(category.BookTitles, (c, t) => new { Cover = c, Title = t }))
        {
            <div class="col-sm-3">
                <a href="@Url.Action("Details", "Books", new { title =  ct.Title})">
                    <img src="@Url.Content(ct.Cover)" alt="Book Cover" style="width:200px; height:300px" />
                </a>
            </div>
        }

    </div>

    <hr style="height:5px"/>
}