@model Bookman.ViewModels.Categories.CategoryViewModel

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>All @ViewBag.CategoryName books</h2>

<div class="row">

    @foreach (var ct in Model.BookCovers.Zip(Model.BookTitles, (c, t) => new { Cover = c, Title = t }))
    {
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Books", new { title =  ct.Title})">
                <img src="@Url.Content(ct.Cover)" alt="Book Cover" style="width:200px; height:300px" />
            </a>
        </div>
    }

</div>
<br />


